$duration-short: var(--duration-short);
$duration-medium: var(--duration-medium);
$duration-normal: var(--duration-normal);
$duration-long: var(--duration-long);
$duration-x-long: var(--duration-x-long);
$duration-longest: var(--duration-longest);
