$border-radius-z: var(--border-radius-z);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$border-radius-xlg: var(--border-radius-xlg);
$border-radius-full: var(--border-radius-full);
