$spacing-z: var(--spacing-z);
$spacing-xxs: var(--spacing-xxs);
$spacing-xs: var(--spacing-xs);
$spacing-s: var(--spacing-s);
$spacing-m: var(--spacing-m);
$spacing-l: var(--spacing-l);
$spacing-xl: var(--spacing-xl);
$spacing-xxl: var(--spacing-xxl);
$spacing-xxl-2: var(--spacing-xxl-2);
$spacing-xxl-3: var(--spacing-xxl-3);
$spacing-xxl-4: var(--spacing-xxl-4);

$spacing-edge-gap: var(--grid-edge-gap);
$spacing-item-gap: var(--grid-item-gap);
