@import './z-index.variables';

:export {
  zIndex0: $z-index-0;
  zIndex1: $z-index-1;
  zIndex2: $z-index-2;
  zIndex3: $z-index-3;
  zIndex4: $z-index-4;
  zIndex5: $z-index-5;
  zIndex6: $z-index-6;
  zIndex7: $z-index-7;
  zIndex8: $z-index-8;
  zIndex9: $z-index-9;
  zIndex10: $z-index-10;
  zIndex20: $z-index-20;
  zIndex30: $z-index-30;
  zIndex40: $z-index-40;
  zIndex90: $z-index-90;
  zIndex98: $z-index-98;
  zIndex99: $z-index-99;
  zIndexMaxMinusOne: $z-index-max-minus-one;
  zIndexMax: $z-index-max;
}
