$z-index-0: var(--z-index-0);
$z-index-1: var(--z-index-1);
$z-index-2: var(--z-index-2);
$z-index-3: var(--z-index-3);
$z-index-4: var(--z-index-4);
$z-index-5: var(--z-index-5);
$z-index-6: var(--z-index-6);
$z-index-7: var(--z-index-7);
$z-index-8: var(--z-index-8);
$z-index-9: var(--z-index-9);
$z-index-10: var(--z-index-10);
$z-index-20: var(--z-index-20);
$z-index-30: var(--z-index-30);
$z-index-40: var(--z-index-40);
$z-index-90: var(--z-index-90);
$z-index-98: var(--z-index-98);
$z-index-99: var(--z-index-99);
$z-index-max-minus-one: var(--z-index-max-minus-one);
$z-index-max: var(--z-index-max);
